<%= form_for @group, html: { class: 'pr-form' } do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pr-form__field">
    <%= f.text_field :name, placeholder: 'group name' %>
  </div>
  <div class="pr-form__field">
    <%= f.text_field :slug, placeholder: 'group slug' %>
  </div>
  <div class="pr-form__field--checkbox js-public">
    <%= f.check_box :publically_listed, {checked: true} %>
    <%= f.label :publically_listed, class: 'pr-form__checkbox-label' %>
  </div>
  <div class="pr-form__field">
    <%= f.text_field :password, placeholder: 'password' %>
  </div>
  <div class="pr-form__submit actions">
    <%= f.submit %>
  </div>
<% end %>
