<p id="notice"><%= notice %></p>

<% if @group.items.empty? %>
  <h2 class="pr-page-header">No items in this group yet.</h2>
<% else %>
  <h2 class="pr-page-header">randomly selected from <em><%= @group.name %></em></h2>
  <span class="pr-randomly-selected-item"><%= @group.items.sample.name %></span>
<% end %>


<h2 class="pr-page-header">items in this group</h2>
  <% if @group.items %>
    <% @group.items.each do |item| %>
      <div class="pr-existing">
        <%= item.name %>
        <%= link_to 'delete item', group_item_path(@group, item), method: :delete, class: 'pr-delete', data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% else %>
    <div class="pr-nonexisting">
      there are no items in this group. add one below.
    </div>
  <% end %>
</p>

<h2 class="pr-page-header">add item to this group</h2>
<%= form_for([@group, @group.items.build], html: {class: 'pr-form'}) do |f| %>
  <%= f.hidden_field :group_id %>
  <div class="pr-form__field">
    <%= f.text_field :name, placeholder: 'name' %>
  </div>
  <div class="pr-form__submit actions">
    <%= f.submit %>
  </div>
<% end %>

<h2 class="pr-page-header">
  <%= link_to 'edit this group', edit_group_path(@group) %>
</h2>
