<!DOCTYPE html>
<html>
<head>
  <title>Pickrandomly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pr-topbar">
  <h1 class="pr-topbar__header">
    <%= link_to 'Pickrandomly', root_path %>
  </h1>
</div>
<%= yield %>

</body>
</html>
